<!DOCTYPE html>
<html>
    <head>
        <title>Styleguide</title>
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700">
        <link rel="stylesheet" type="text/css" href="/_styleguide/index.css">
        <script type="application/javascript" src="/_styleguide/index.js"></script>
    </head>
    <body class="StyleguideBody">
        <svg style="position: absolute; width: 0; height: 0;" width="0" height="0" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <defs>
            <symbol id="icon-images" viewBox="0 0 36 32">
              <title>images</title>
              <path d="M34 4h-2v-2c0-1.1-0.9-2-2-2h-28c-1.1 0-2 0.9-2 2v24c0 1.1 0.9 2 2 2h2v2c0 1.1 0.9 2 2 2h28c1.1 0 2-0.9 2-2v-24c0-1.1-0.9-2-2-2zM4 6v20h-1.996c-0.001-0.001-0.003-0.002-0.004-0.004v-23.993c0.001-0.001 0.002-0.003 0.004-0.004h27.993c0.001 0.001 0.003 0.002 0.004 0.004v1.996h-24c-1.1 0-2 0.9-2 2v0zM34 29.996c-0.001 0.001-0.002 0.003-0.004 0.004h-27.993c-0.001-0.001-0.003-0.002-0.004-0.004v-23.993c0.001-0.001 0.002-0.003 0.004-0.004h27.993c0.001 0.001 0.003 0.002 0.004 0.004v23.993z"></path>
              <path d="M30 11c0 1.657-1.343 3-3 3s-3-1.343-3-3 1.343-3 3-3 3 1.343 3 3z"></path>
              <path d="M32 28h-24v-4l7-12 8 10h2l7-6z"></path>
            </symbol>
            <symbol id="icon-insert-template" viewBox="0 0 32 32">
              <title>insert-template</title>
              <path d="M12 6h4v2h-4zM18 6h4v2h-4zM28 6v8h-6v-2h4v-4h-2v-2zM10 12h4v2h-4zM16 12h4v2h-4zM6 8v4h2v2h-4v-8h6v2zM12 18h4v2h-4zM18 18h4v2h-4zM28 18v8h-6v-2h4v-4h-2v-2zM10 24h4v2h-4zM16 24h4v2h-4zM6 20v4h2v2h-4v-8h6v2zM30 2h-28v28h28v-28zM32 0v0 32h-32v-32h32z"></path>
            </symbol>
          </defs>
        </svg>

        <header class="StyleguideHeader">
            <h1 class="StyleguideHeader-title">
              {{#if indexUrl}}
                <a href="/_styleguide/index.html">Styleguide</a>
              {{else}}
                Styleguide
              {{/if}}
            </h1>
        </header>

        <nav class="StyleguideNavigation">
            <h2 class="StyleguideNavigation-title">Examples</h2>
            <div class="StyleguideNavigation-content">
                <ul class="StyleguideGroups">
                    {{#each groups}}
                        <li>
                            <h3 class="StyleguideGroups-name">{{name}}</h3>
                            <ul class="StyleguideGroups-examples">
                                {{#each examples}}
                                    <li class="StyleguideGroups-examples-example"><a class="StyleguideGroups-examples-link" href="{{url}}" title="{{name}}" target="StyleguideExample-frame" {{#if source}}data-source='{{{jsonObject source}}}'{{/if}}>{{name}}<i class="StyleguideGroups-examples-externalLink" title="Open Example in a New Window"></i></a>
                                    </li>
                                {{/each}}
                            </ul>
                        </li>
                    {{/each}}
                </ul>
            </div>
        </nav>

        <div class="StyleguideContent">
          <section class="StyleguideExample">
            <div class="StyleguideComparison-controls">
              {{#each designs as |designGroup|}}
                {{#each designGroup as |design examplePath|}}
                  <span class="StyleguideComparison-group" data-example-path="{{examplePath}}">
                  {{#each design}}
                    <a class="StyleguideComparison-button" href="{{this.src}}" style="background:{{this.color}}" target="StyleguideComparison-frame" title="{{this.filename}}" data-target-width="{{this.width}}" data-target-height="{{this.height}}"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm6.25 8.891l-1.421-1.409-6.105 6.218-3.078-2.937-1.396 1.436 4.5 4.319 7.5-7.627z"/></svg>{{this.label}}</a>
                  {{/each}}
                  </span>
                {{/each}}
              {{/each}}
              <div class="StyleguideComparison-modes">
                <button href="#" class="ComparisonMode-button" data-mode="0" disabled>
                  <svg class="icon-insert-template"><use xlink:href="#icon-insert-template"></use></svg>
                </button>
                <button href="#" class="ComparisonMode-button" data-mode="1">
                  <svg class="icon-images"><use xlink:href="#icon-images"></use></svg>
                </button>
                <div class="StyleguideComparison-opacityControl">
                  <label for="slider-opacity">Opacity</label>
                  <input type="range" min="0" max="1" value="1" id="slider-opacity" step=".10">
                  <output class="OpacityControl-output" for="slider-opacity"></output>
                </div>
              </div>
            </div>
            <iframe class="StyleguideExample-frame" frameborder="0" name="StyleguideExample-frame" src="{{#if indexUrl}}{{indexUrl}}{{else}}about:blank{{/if}}"></iframe>
            <div class="StyleguideComparison-wrapper"><iframe class="StyleguideComparison-frame" frameborder="0" name="StyleguideComparison-frame" scrolling="no" src="about:blank"></iframe></div>
          </section>
        </div>
    </body>
</html>