<!DOCTYPE html>
<html>
    <head>
        <title>Styleguide</title>
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700">
        <link rel="stylesheet" type="text/css" href="/_styleguide/index.css">
        <script type="application/javascript" src="/_styleguide/index.js"></script>
    </head>
    <body class="StyleguideBody">
        <header class="StyleguideHeader">
            <h1 class="StyleguideTitle">Styleguide</h1>
        </header>

        <nav class="StyleguideNavigation">
            <h2 class="StyleguideNavigation-title">Examples</h2>
            <div class="StyleguideNavigation-content">
                <ul class="StyleguideGroups">
                    {{#each groups}}
                        <li>
                            <h3 class="StyleguideGroups-name">{{name}}</h3>
                            <ul class="StyleguideGroups-examples">
                                {{#each examples}}
                                    <li class="StyleguideGroups-examples-example"><a class="StyleguideGroups-examples-link" href="{{url}}" title="{{name}}" target="StyleguideExample-frame" {{#if source}}data-source='{{{jsonObject source}}}'{{/if}}>{{name}}<i class="StyleguideGroups-examples-externalLink" title="Open Example in a New Window"></i></a>
                                    </li>
                                {{/each}}
                            </ul>
                        </li>
                    {{/each}}
                </ul>
            </div>
        </nav>

        <div class="StyleguideContent">
          <div class="StyleguideViewport-controls">
            <div class="StyleguideViewport-presets">
              <button title="Reset Viewports" data-width="100%" class="StyleguideViewport-reset"></button>
              {{#each devices}}<button href="#" class="{{this.icon}}" title="{{this.name}}" data-viewportsize='{"width": "{{this.width}}", "height": "{{this.height}}"}'></button>{{/each}}
            </div>
            <div class="StyleguideViewport-custom">
              <span>Custom</span>&nbsp;
              <label class="StyleguideViewport-custom-label">w<input type="number" class="StyleguideViewport-width" min="320" placeholder="px" /></label>
              <span class="StyleguideViewport-custom-xlabel">x</span>
              <label class="StyleguideViewport-custom-label">h<input type="number" class="StyleguideViewport-height" min="320" placeholder="px" /></label>
            </div>

            <div class="StyleguideComparison-controls" data-toggled="off">
            {{#each designs as |designGroup|}}
              {{#each designGroup as |design examplePath|}}
                <span class="StyleguideComparison-group" data-example-path="{{examplePath}}">
                {{#each design}}
                  <a href="{{this.src}}" target="StyleguideComparison-frame">{{this.filename}}</a>
                {{/each}}
                </span>
              {{/each}}
            {{/each}}
            </div>
          </div>
          <section class="StyleguideExample">
            <iframe class="StyleguideExample-frame" name="StyleguideExample-frame" src="{{#if indexUrl}}{{indexUrl}}{{else}}about:blank{{/if}}"></iframe>
          </section>
          <section class="StyleguideComparison">
            <iframe class="StyleguideComparison-frame" name="StyleguideComparison-frame" src="about:blank" frameborder="0" scrolling="no" onload="this.style.height=this.contentDocument.body.scrollHeight +'px';this.style.width=this.contentDocument.body.scrollWidth +'px'"></iframe>
          </section>
        </div>

    </body>
</html>