<!DOCTYPE html>
<html>
    <head>
        <title>Styleguide</title>
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700">
        <link rel="stylesheet" type="text/css" href="/_styleguide/index.css">
        <script type="application/javascript" src="/_styleguide/index.js"></script>
    </head>
    <body class="StyleguideBody">
        <svg style="position: absolute; width: 0; height: 0;" width="0" height="0" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <defs>
            <symbol id="icon-images" viewBox="0 0 24 24">
              <title>image</title>
              <path d="M0 0h24v24H0z" fill="none"/>
              <path d="M22 16V4c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2zm-11-4l2.03 2.71L16 11l4 5H8l3-4zM2 6v14c0 1.1.9 2 2 2h14v-2H4V6H2z"/>
            </symbol>
            <symbol id="icon-compare" viewBox="0 0 24 24">
              <title>comparison</title>
              <path d="M0 0h24v24H0z" fill="none"/>
              <path d="M10 3H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h5v2h2V1h-2v2zm0 15H5l5-6v6zm9-15h-5v2h5v13l-5-6v9h5c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2z"/>
            </symbol>
            <symbol id="icon-checkmark" viewBox="0 0 24 24">
              <title>checked</title>
              <path d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm6.25 8.891l-1.421-1.409-6.105 6.218-3.078-2.937-1.396 1.436 4.5 4.319 7.5-7.627z"/>
            </symbol>
            <symbol id="icon-sketch-logo" viewBox="0 0 494 447">
              <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Sketch-Flat-Logo" transform="translate(-9.000000, -28.000000)">
                    <g id="Group" transform="translate(9.000000, 28.000000)">
                        <g id="Base" fill="#FFAE00">
                            <polygon id="Polygon" transform="translate(247.000000, 223.500000) rotate(-180.000000) translate(-247.000000, -223.500000) " points="247 5.68434189e-14 494 287 387 432 247 447 107 432 -2.84217094e-13 287"></polygon>
                        </g>
                        <g id="Bottom-Back" transform="translate(0.000000, 160.000000)" fill="#EC6C00">
                            <polygon id="Polygon" transform="translate(247.000000, 143.500000) rotate(-180.000000) translate(-247.000000, -143.500000) " points="247 1.13686838e-13 494 287 -5.68434189e-14 287"></polygon>
                        </g>
                        <g id="Bottom-Mid" transform="translate(100.000000, 160.000000)" fill="#FFAE00">
                            <polygon id="Polygon" transform="translate(147.000000, 143.500000) rotate(-180.000000) translate(-147.000000, -143.500000) " points="147 0 294 287 2.84217094e-13 287"></polygon>
                        </g>
                        <g id="Top-Mid" transform="translate(100.000000, 0.000000)" fill="#FFEFB4">
                            <polygon id="Polygon" transform="translate(147.000000, 80.000000) rotate(-180.000000) translate(-147.000000, -80.000000) " points="147 160 294 2.70983236e-12 5.68434189e-14 -5.68434189e-14"></polygon>
                        </g>
                        <g id="Top-Side-Left" transform="translate(0.000000, 15.000000)" fill="#FFAE00">
                            <polygon id="Polygon" transform="translate(53.500000, 72.500000) rotate(-180.000000) translate(-53.500000, -72.500000) " points="-2.27373675e-13 145 55 72 107 2.72848411e-12 6 5.68434189e-14"></polygon>
                        </g>
                        <g id="Top-Side-Right" transform="translate(440.500000, 87.500000) scale(-1, 1) translate(-440.500000, -87.500000) translate(387.000000, 15.000000)" fill="#FFAE00">
                            <polygon id="Polygon" transform="translate(53.500000, 72.500000) rotate(-180.000000) translate(-53.500000, -72.500000) " points="-2.27373675e-13 145 55 72 107 2.72848411e-12 6 5.68434189e-14"></polygon>
                        </g>
                        <g id="Top-Left" transform="translate(100.000000, 0.000000)" fill="#FED305">
                            <polygon id="Polygon" transform="translate(73.500000, 80.000000) rotate(-180.000000) translate(-73.500000, -80.000000) " points="140 145 147 2.95585778e-12 2.27373675e-13 160"></polygon>
                        </g>
                        <g id="Top-Right" transform="translate(247.000000, 0.000000)" fill="#FED305">
                            <polygon id="Polygon" transform="translate(73.500000, 80.000000) scale(-1, 1) rotate(-180.000000) translate(-73.500000, -80.000000) " points="140 145 147 0 -1.42108547e-14 160"></polygon>
                        </g>
                    </g>
                </g>
              </g>
            </symbol>
            <symbol id="icon-website" viewBox="0 0 24 24">
              <path d="M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm-5 14H4v-4h11v4zm0-5H4V9h11v4zm5 5h-4V9h4v9z"/>
              <path d="M0 0h24v24H0z" fill="none"/>
            </symbol>
          </defs>
        </svg>

        <header class="StyleguideHeader">
            <h1 class="StyleguideHeader-title">
              Styleguide
            </h1>
        </header>

        <nav class="StyleguideNavigation">
          {{#if sketchFiles}}
            <section class="StyleguideNavigation-group">
              <h2 class="StyleguideNavigation-title"><svg class="icon-sketch-logo"><use href="#icon-sketch-logo"></use></svg>Sketch</h2>
              <div class="StyleguideNavigation-content">
                <ul class="StyleguideGroups">
                  <li>
                    <ul class="StyleguideGroups-examples">
                      {{#each sketchFiles}}
                        <li class="StyleguideGroups-sketch-example"><a class="StyleguideGroups-sketch-link" target="StyleguideExample-frame" href="{{this.src}}"{{#if @first}} data-active{{/if}}>{{this.name}}</a></li>
                      {{/each}}
                    </ul>
                  </li>
                </ul>
              </div>
            </section>
          {{/if}}
          <section class="StyleguideNavigation-group">
            <h2 class="StyleguideNavigation-title"><svg class="icon-website"><use href="#icon-website"></use></svg>Examples</h2>
            <div class="StyleguideNavigation-content">
              <ul class="StyleguideGroups">
                {{#each groups}}
                  <li>
                    <h3 class="StyleguideGroups-name">{{name}}</h3>
                    <ul class="StyleguideGroups-examples">
                      {{#each examples}}
                        <li class="StyleguideGroups-examples-example"><a class="StyleguideGroups-examples-link" href="{{url}}" title="{{name}}" target="StyleguideExample-frame" {{#if source}}data-source='{{{jsonObject source}}}'{{/if}}>{{name}}<i class="StyleguideGroups-examples-externalLink" title="Open Example in a New Window"></i></a>
                        </li>
                      {{/each}}
                    </ul>
                  </li>
                {{/each}}
              </ul>
            </div>
          </section>
        </nav>

        <div class="StyleguideContent">
          <section class="StyleguideExample">
            <div class="StyleguideComparison-controls">
              {{#each designs as |designGroup|}}
                {{#each designGroup as |design examplePath|}}
                  <span class="StyleguideComparison-group" data-example-path="{{examplePath}}">
                  {{#each design}}
                    <a class="StyleguideComparison-button" href="{{this.src}}" style="background:{{this.color}}" target="StyleguideComparison-frame" title="{{this.filename}}" data-target-width="{{this.width}}" data-target-height="{{this.height}}"><svg class="icon-checkmark"><use href="#icon-checkmark"></use></svg>{{this.label}}</a>
                  {{/each}}
                  </span>
                {{/each}}
              {{/each}}
              <div class="StyleguideComparison-modes">
                <button href="#" class="ComparisonMode-button" data-mode="0" disabled title="Side-by-side">
                  <svg class="icon-comparison"><use href="#icon-compare"></use></svg>
                </button>
                <button href="#" class="ComparisonMode-button" data-mode="1" title="Overlay">
                  <svg class="icon-overlay"><use href="#icon-images"></use></svg>
                </button>
                <div class="StyleguideComparison-opacityControl">
                  <input type="range" min="0" max="1" value="1" id="slider-opacity" step=".10">
                </div>
              </div>
            </div>
            <iframe class="StyleguideExample-frame" frameborder="0" name="StyleguideExample-frame" src="{{#if indexUrl}}{{indexUrl}}{{else}}about:blank{{/if}}"></iframe>
            <div class="StyleguideComparison-wrapper"><iframe class="StyleguideComparison-frame" frameborder="0" name="StyleguideComparison-frame" scrolling="no" src="about:blank"></iframe></div>
          </section>
        </div>
    </body>
</html>