<!DOCTYPE html>
<html>
    <head>
        <title>Styleguide</title>
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700">
        <link rel="stylesheet" type="text/css" href="/_styleguide/index.css">
        <script type="application/javascript" src="/_styleguide/index.js"></script>
    </head>
    <body class="StyleguideBody">
        <header class="StyleguideHeader">
            <h1 class="StyleguideTitle">Styleguide</h1>
        </header>

        <nav class="StyleguideNavigation">
            <h2 class="StyleguideNavigation-title">Examples</h2>
            <div class="StyleguideNavigation-content">
                <ul class="StyleguideGroups">
                    {{#each groups}}
                        <li>
                            <h3 class="StyleguideGroups-name">{{name}}</h3>
                            <ul class="StyleguideGroups-examples">
                                {{#each examples}}
                                    <li class="StyleguideGroups-examples-example"><a class="StyleguideGroups-examples-link" href="{{url}}" title="{{name}}" target="StyleguideExample-frame" {{#if source}}data-source='{{{jsonObject source}}}'{{/if}}>{{name}}<i class="StyleguideGroups-examples-externalLink" title="Open Example in a New Window"></i></a>
                                    </li>
                                {{/each}}
                            </ul>
                        </li>
                    {{/each}}
                </ul>
            </div>
        </nav>

        <div class="StyleguideContent">
          <div class="StyleguideViewport-controls">
            <div class="StyleguideViewport-presets">
              <button title="Reset Viewports" data-width="100%"  data-width="100%" class="StyleguideViewport-reset"></button>
              {{#each devices}} <button href="#" class="{{this.icon}}" title="{{this.name}}" data-viewportsize='{"width": "{{this.width}}", "height": "{{this.height}}" }'></button> {{/each}}
            </div>
            <div class="StyleguideViewport-custom">
              <span>Custom</span> <label class="StyleguideViewport-custom-label">w<input type="number" class="StyleguideViewport-width"  min="320" placeholder="px" /></label><span class="StyleguideViewport-custom-xlabel">x</span> <label class="StyleguideViewport-custom-label">h<input type="number" class="StyleguideViewport-height"  min="320" placeholder="px" /></label>
            </div>
          </div>
          <section class="StyleguideExample">
            <iframe class="StyleguideExample-frame" name="StyleguideExample-frame" src="{{#if indexUrl}}{{indexUrl}}{{else}}about:blank{{/if}}"></iframe>
          </section>
        </div>

    </body>
</html>
