<!DOCTYPE html>
<html>
  <head>
    <title>Styleguide Design Elements</title>
    <link rel="stylesheet" type="text/css" href="/_styleguide/index.css">
    <script type="application/javascript" src="/_styleguide/index.js"></script>
  </head>
  <body class="StyleguidePage">
    <style type="text/css">
      {{#each designElements as |designElement|}}
        {{#each designElement.textStyles as |textStyle|}}
          .SketchTextStyle [data-textStyle-name="{{textStyle.name}}"] {
            {{textStyle.cssProps}}
          }
        {{/each}}
      {{/each}}
    </style>

    <!--h1 class="StyleguidePage-title">Design Elements</h1-->
    <div class="StyleguideSections">
    {{#each designElements as |designElement|}}
      {{!-- Color Palette
      <section class="StyleguideSection">
        <h2 class="StyleguideSection-heading">Colors</h2>
        <div class="StyleguideSection-items" data-grid>
        {{#each designElement.colorStyles as |colorStyle|}}
          <div class="StyleguideSection-items-item">
            <div class="SketchSharedStyle">
              <div class="SketchSharedStyle-sample" style="background: {{#if colorStyle.color.stops}}
                linear-gradient(to bottom, {{#each colorStyle.color.stops}}rgba({{this.red}}, {{this.green}}, {{this.blue}}, {{this.alpha}}) {{this.position}}%{{#unless @last}},{{/unless}}{{/each}});
              {{else}}
                rgb({{colorStyle.color.red}}, {{colorStyle.color.green}}, {{colorStyle.color.blue}});
              {{/if}}"></div>
              <div class="SketchSharedStyle-name {{colorStyle.name}}" {{#with colorStyle.contrast}}data-contrast="{{this}}"{{/with}}>{{colorStyle.name}}</div>
              <div class="SketchSharedStyle-details">
                <div class="SketchSharedStyle-details-detail">
                  <header>Less</header>
                  <small>{{colorStyle.lessMixin}}</small>
                </div>
              </div>
            </div>
          </div>
        {{/each}}
        </div>
      </section> --}}

      {{!-- Font Families --}}
      <section class="StyleguideSection">
        <h2 class="StyleguideSection-heading">Fonts</h2>
        <div class="StyleguideSection-items">
        {{#each designElement.fontFamilies as |fontFamily|}}
          <div class="StyleguideSection-items-item">
            <div class="SketchFont">
              <h4 class="SketchFont-title">{{fontFamily}}</h4>
              <div class="SketchFont-example" style="font-family: {{fontFamily}};">
                <div>Aa</div>
                <div>ABCDEFGHIJKLMNOPQRSTUVWXYZ<br/>abcdefghijklmnopqrstuvwxyz<br/>1234567890(,.;:?!$&*)</div>
              </div>
            </div>
          </div>
        {{/each}}
        </div>
      </section>

      {{!-- Text Styles --}}
      <section class="StyleguideSection">
        <h2 class="StyleguideSection-heading">Text Styles</h2>
        <div class="StyleguideSection-items">
        {{#each designElement.textStyles as |textStyle|}}
          <div class="StyleguideSection-items-item">
            <div class="SketchTextStyle" {{#with textStyle.contrast}}data-contrast="{{this}}"{{/with}}>
              <div class="SketchTextStyle-name" {{#with textStyle.name}}data-textStyle-name="{{this}}"{{/with}}>{{textStyle.name}}</div>
              <code class="SketchTextStyle-code">.sketch("{{textStyle.name}}");</code>
            </div>
          </div>
        {{/each}}
        </div>
      </section>
    {{/each}}
    </div>

    <script type="application/javascript">
      document.querySelectorAll('.language-css').forEach((element) => {
        Prism.highlightElement(element)
      })
    </script>
  </body>
</html>