<!DOCTYPE html>
<html>
  <head>
    <title>Styleguide Design Elements</title>
    <link rel="stylesheet" type="text/css" href="/_styleguide/index.css">
    <script type="application/javascript" src="/_styleguide/index.js"></script>
  </head>
  <body class="StyleguidePage">
    <style type="text/css">
      {{#each textStyles as |textStyle|}}
        .{{textStyle.name}} {
          {{textStyle.cssProps}}
        }
      {{/each}}
    </style>

    <h1 class="StyleguidePage-title">Design Elements</h1>

    {{#if textStyles}}
      <section class="StyleguideSection">
        <h2 class="StyleguideSection-heading">Text Styles</h2>
        {{#each textStyles as |textStyle|}}
          <div class="StyleguideSection-item">
            <div class="StyleguideTextStyle">
              <div class="{{textStyle.name}}">{{textStyle.name}}</div>
              <div class="StyleguideTextStyle-code language-css">{{textStyle.cssProps}}<br/>{{textStyle.alignment}}</div>
            </div>
          </div>
        {{/each}}
      </section>
    {{/if}}

    <script type="application/javascript">
      document.querySelectorAll('.language-css').forEach((element) => {
        Prism.highlightElement(element)
      })
    </script>
  </body>
</html>