<!DOCTYPE html>
<html>
    <head>
        <title>Styleguide{{#each names}}: {{this}}{{/each}}</title>

        <link rel="shortcut icon" href="/assets/images/favicon.ico" type="image/x-icon">

        <link rel="stylesheet" type="text/css" href="/node-modules/normalize.css/normalize.css">
        <link rel="stylesheet" type="text/css" href="/node-modules/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="/opensans-bold,opensans-bolditalic,opensans-italic,opensans-regular/fonts.css">
        <link rel="stylesheet" type="text/css" href="/node-modules/codemirror/lib/codemirror.css">
        <link rel="stylesheet" type="text/css" href="/styleguide.css">

        <script type="text/javascript" src="/node-modules/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="/node-modules/codemirror/lib/codemirror.js"></script>

        <script type="text/javascript" src="/node-modules/sticky-kit/dist/sticky-kit.min.js"></script>
        <script type="text/javascript" src="/node-modules/codemirror/mode/javascript/javascript.js"></script>
        <script type="text/javascript" src="/node-modules/iframe-resizer/js/iframeResizer.min.js"></script>
        <script type="text/javascript" src="/node-modules/history.js/scripts/compressed/history.js"></script>
        <script type="text/javascript" src="/node-modules/history.js/scripts/compressed/history.adapter.jquery.js"></script>

        <script type="text/javascript">

        History.Adapter.bind(window, 'statechange', function() { // Note: We are using statechange instead of popstate
            var State = History.getState(); // Note: We are using History.getState() instead of event.state
            fetchContent(State.url);
        });
        /*
        *   Fetch Content for json files
        */
        function fetchContent (url){
            $.ajax({
                url: url
            })
            .done(function(data){
                var dataContent = $(data).filter('.sg-content').contents();
                $('.sg-content').html(dataContent).trigger( "sg:contentLoaded" );
            })
            .fail(function(){
                console.log('something went wront with the fetch content');
            });
        }

            (function (window,undefined) {
                $(document).on('sg:contentLoaded', function () {

                    //props open navigation on content load
                    $('.sg-example-name[href$="' + document.location.pathname + document.location.search + '"]').attr('data-listActive','true')
                        .parents('.sg-example').attr('data-listOpen','true')
                        .siblings().removeAttr('data-listOpen')
                        .find('.sg-example-name').removeAttr('data-listActive').end().end()
                        .parents('.sg-group, .sg-example').attr('data-listOpen','true')
                        .siblings().removeAttr('data-listOpen');

/*
* EXAMPLES
*/
                    $('.sg-file-body > iframe').iFrameResize({
                        log: false,
                        heightCalculationMethod: 'max',
                        autoResize: true,
                        scrolling: true,
                        {{#if example.exampleMinHeight}}
                          minHeight: {{example.exampleMinHeight}},
                        {{/if}}
                        {{#if example.exampleMaxHeight}}
                          maxHeight: {{example.exampleMaxHeight}},
                        {{/if}}
                        initCallback: function(iframe) {
                            $(iframe).contents().find('html', 'body', 'div').css('height', 'auto');
                        }
                    });

                    $('.sg-menu').stick_in_parent();

                    $('.sg-file').each(function () {
                        var $file = $(this);
                        var $name = $file.find('.sg-file-name');
                        var $form = $file.find('.sg-file-form');

                        $name.append(' - ');
                        $name.append($('<a/>', {
                            href: '#',
                            text: 'Toggle Edit',
                            click: function () {
                                $file.toggleClass('sg-file--hide');
                                return false;
                            }
                        }));

                        $form.find('textarea').each(function () {
                            CodeMirror.fromTextArea(this, {
                                lineNumbers: true,
                                mode: 'json'
                            });
                        });

                        var $message = $('<span/>', {
                            'class': 'sg-file-form-message'
                        });

                        $form.find('button').after($message);

                        $form.on('submit', function () {
                            $message.text('Saving...');

                            $.post('/save', $form.serialize()).

                                done(function (data) {
                                    $message.text('Saved successfully!');

                                    $form.closest('.sg-file').find('iframe').each(function () {
                                        this.contentWindow.location.reload();
                                    });
                                }).

                                fail(function () {
                                    $message.text('Unable to save ' + $form.find('input[name="path"]').val());
                                });

                            return false;
                        });

                        $file.addClass('sg-file--hide');

                        $file.find('.sg-file-header').stick_in_parent({
                            offset_top: 48
                        });
                    });

                    $('.sg-file-body').each(function () {
                        var $body = $(this);
                        var $devices = $body.find('> .sg-device');

                        if ($devices.length > 0) {
                            var width = 50;

                            $devices.each(function () {
                                width += $(this).outerWidth(true);
                            });

                            $body.outerWidth(width);
                        }
                    });

/*
*VARIABLES
*/
                    $('.sg-design').each(function () {
                        var $design = $(this);
                        var $name = $design.find('.sg-design-name');
                        var $form = $design.find('.sg-design-form');

                        $name.append(' - ');
                        $name.append($('<a/>', {
                            href: '#',
                            text: 'Toggle Edit',
                            click: function () {
                                $design.toggleClass('sg-design--hide');
                                return false;
                            }
                        }));

                        $form.find('textarea').each(function () {
                            CodeMirror.fromTextArea(this, {
                                lineNumbers: true,
                                mode: 'json'
                            });
                        });

                        var $message = $('<span/>', {
                            'class': 'sg-design-form-message'
                        });

                        $form.find('button').after($message);

                        $form.on('submit', function () {
                            $message.text('Saving...');

                            $.post('/save', $form.serialize()).

                                done(function (data) {
                                    $message.text('Saved successfully!');

                                    $form.closest('.sg-design').find('iframe').each(function () {
                                        this.contentWindow.location.reload();
                                    });
                                }).

                                fail(function () {
                                    $message.text('Unable to save ' + $form.find('input[name="path"]').val());
                                });

                            return false;
                        });

                        $design.addClass('sg-design--hide');

                        $design.find('.sg-design-header').stick_in_parent({
                            offset_top: 48
                        });
                    });

                    $('.sg-file-body').each(function () {
                        var $body = $(this);
                        var $devices = $body.find('> .sg-device');

                        if ($devices.length > 0) {
                            var width = 50;

                            $devices.each(function () {
                                width += $(this).outerWidth(true);
                            });

                            $body.outerWidth(width);
                        }
                    });


                });

                $(document).ready(function(){

                    $('.sg-example-name, .sg-group-name').on('click', function(event){
                        event.preventDefault();

                        var $self = $(this);
                        var url = $self.attr('href');
                        var $parentNode = $self.parent('li');

                        //toggle the navigation
                        if ($parentNode.attr('data-listOpen') === "true"){
                           $parentNode.removeAttr('data-listOpen');
                        }else {
                           $parentNode.attr('data-listOpen','true');
                           $parentNode.siblings().removeAttr('data-listOpen').find('.sg-example').removeAttr('data-listOpen').find('.sg-example-name').removeAttr('data-listActive');
                        }
                        if(!url) {
                            return;
                        }

                        History.pushState(null, url, url);
                   });
                   $('.sg-header a').on('click', function(event){
                       event.preventDefault();
                       var $self = $(this);
                       var docPath = document.location.pathname;
                       var docSearch = $self.attr('href');
                       var query = null;

                       if(docSearch.indexOf('?') > 0){
                           query = docSearch.split('?').pop();
                       }
                       document.location.href = docPath + (query ? '?' + query: '');
                   });

                    // trigger event content loaded when app initializes
                    $('.sg-content').trigger('sg:contentLoaded');
                })

            })();
        </script>

        {{> head}}
    </head>
    <body>
        <header class="sg-header">
            <div class="sg-header-title">
                Styleguide{{#each names}}: {{this}}{{/each}}

                <a href="{{seedUrl}}" data-seedUrl="{{seed}}">#{{seed}}</a>

                {{#with randomizeUrl}}
                    - <a href="{{this}}"><i class="fa fa-refresh"></i> Randomize</a>
                {{/with}}
            </div>

            <div class="sg-header-controlbar">
                {{#with availableDevices}}
                    <div class="sg-control-available-device-list">
                        <a href="{{../resetDisplayDevicesUrl}}"><i class="fa fa-ban"></i></a>

                        {{#each this}}
                            <a{{#if selected}} class="sg-control-available-device-selected"{{/if}} href="{{url}}"><i class="{{device.icon}}"></i></a>
                        {{/each}}
                    </div>
                {{/with}}

                {{#with availableStylesheets}}
                    <form class="sg-control-available-stylesheet-list">
                        <select onchange="window.location.href = $(this).val();">
                            {{#each this}}
                                <option value="{{url}}"{{#if selected}} selected{{/if}}>{{name}}</option>
                            {{/each}}
                        </select>
                    </form>
                {{/with}}
            </div>
        </header>
        <div class="sg-menu">
            <ul class="sg-group-list">
                {{#each groups}}
                    <li class="sg-group">
                        <div class="sg-group-name">{{name}}</div>
                        <ul class="sg-example-list">
                            {{#each children}}
                                <li class="sg-example">
                                        <a class="sg-example-name"  href="{{url}}" title="{{name}}">{{name}}</a>
                                    {{#if children}}
                                        <ul class="sg-example-list-children">
                                            {{#each children}}
                                                <li class="sg-example">
                                                    <a href="{{url}}" class="sg-example-file-name" title="{{name}}">{{name}}</a>
                                                </li>
                                            {{/each}}
                                        </ul>
                                    {{/if}}
                                </li>
                            {{/each}}
                        </ul>
                    </li>
                {{/each}}
                {{#*inline 'list'}}
                    {{#each children}}
                        <li class="sg-example">
                            <a class="sg-example-name" {{#if url}}href="{{url}}"{{/if}} title="{{name}}">{{name}}</a>
                            {{#if children}}
                                <ul class="sg-example-list">
                                    {{> list}} {{! Recursively render the partial }}
                                </ul>
                            {{/if}}
                        </li>
                    {{/each}}
                {{/inline}}
                {{#each examples}}
                    <li class="sg-group">
                        <div class="sg-group-name">{{name}}</div>
                        <ul class="sg-example-list">
                            {{> list}}
                        </ul>
                    </li>
                {{/each}}
            </ul>
        </div>

        <div class="sg-content">
            {{> content}}
        </div>
    </body>
</html>
