<!DOCTYPE html>
<html>
    <head>
        <title>Styleguide{{#each names}}: {{this}}{{/each}}</title>

        <link rel="shortcut icon" href="/assets/images/favicon.ico" type="image/x-icon">

        <link rel="stylesheet" type="text/css" href="/node_modules/normalize.css/normalize.css">
        <link rel="stylesheet" type="text/css" href="/node_modules/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="/opensans-bold,opensans-bolditalic,opensans-italic,opensans-regular/fonts.css">
        <link rel="stylesheet" type="text/css" href="/styleguide.css">

        <script type="text/javascript" src="/node-modules/jquery/dist/jquery.min.js"></script>

        <script type="text/javascript" src="/node-modules/sticky-kit/dist/sticky-kit.min.js"></script>
        <script type="text/javascript" src="/node-modules/history.js/scripts/compressed/history.js"></script>
        <script type="text/javascript" src="/node-modules/history.js/scripts/compressed/history.adapter.jquery.js"></script>

        <script type="text/javascript">

            History.Adapter.bind(window, 'statechange', function() { // Note: We are using statechange instead of popstate
                $('.sg-content').trigger('sg:contentLoaded');
            });


            (function (window,undefined) {

                $(document).on('sg:contentLoaded', function () {
                    //props open navigation on content load
                    $('.sg-example-name[href$="' + document.location.pathname + document.location.search + '"]').attr('data-listActive','true')
                        .parents('.sg-example').attr('data-listOpen','true')
                        .siblings().removeAttr('data-listOpen')
                        .find('.sg-example-name').removeAttr('data-listActive').end().end()
                        .parents('.sg-group, .sg-example').attr('data-listOpen','true')
                        .siblings().removeAttr('data-listOpen');
                });

                $(document).ready(function(){

                    // $('.sg-menu').stick_in_parent();

                    $('.sg-example-name, .sg-group-name').on('click', function(event){
                        event.preventDefault();

                        var $self = $(this);
                        var url = $self.attr('href');
                        var contentUrl;
                        var $target = $('[name='+$self.attr('target')+']');

                        var $parentNode = $self.parent('li');

                        //toggle the navigation
                        if ($parentNode.attr('data-listOpen') === "true"){
                           $parentNode.removeAttr('data-listOpen');
                        }else {
                           $parentNode.attr('data-listOpen','true');
                           $parentNode.siblings().removeAttr('data-listOpen')
                            .find('.sg-example').removeAttr('data-listOpen').end()
                            .find('.sg-example-name').removeAttr('data-listActive');
                        }
                        if(!url) {
                            return;
                        }

                        contentUrl = (url.indexOf('?') > 0)? url+'&content' : url+'?content';
                        $target.attr('src', contentUrl);
                        History.replaceState({}, $self.attr('title'), url);
                   });
                   $('.sg-header a, .sg-control-themes').on('click, change', function(event){
                       event.preventDefault();
                       var $self = $(this);
                       var docPath = document.location.pathname;
                       var docSearch = $self.attr('href')? $self.attr('href') : $self.find(':selected').val();
                       var query = null;

                       if(docSearch.indexOf('?') > 0){
                           query = docSearch.split('?').pop();
                       }
                       document.location.href = docPath + (query ? '?' + query: '');
                   });

                   $('.sg-header-button').on('click', function(){
                       var $self = $(this);
                       $self.toggleClass('fa-bars fa-close');
                       var navState = $('body').attr('data-navopen');
                       if (navState === undefined){
                           $('body').attr('data-navopen', '')
                       }else {
                           $('body').removeAttr('data-navopen');
                       }
                   });

                    // trigger event content loaded when app initializes
                    $('.sg-content').trigger('sg:contentLoaded');
                })

            })();
        </script>

        {{> head}}
    </head>
    <body>
        <header class="sg-header">
            <div class="sg-header-left">
                <button class="sg-header-button fa fa-bars"></button>
                <h1 class="sg-header-project-title">Styleguide{{# if project.name}}: {{project.name}}{{/if}}</h1>
            </div>
            <div class="sg-header-right">
                <div class="sg-header-controlbar">
                    {{#with availableDevices}}
                        <div class="sg-control-available-device-list">
                            <a href="{{../resetDisplayDevicesUrl}}" title="Reset Viewports"><i class="fa fa-ban"></i></a>

                            {{#each this}}
                                <a{{#if selected}} class="sg-control-available-device-selected"{{/if}} href="{{url}}" title="{{device.name}} - {{device.width}}x{{device.height}}"><i class="{{device.icon}}"></i></a>
                            {{/each}}
                        </div>
                    {{/with}}
                </div>
                <div class="sg-randomize-button">
                {{#with randomizeUrl}}
                    <a href="{{this}}" class="sg-randomize-button-link"><i class="fa fa-random"></i>Randomize</a>
                {{/with}}
                    <a href="{{seedUrl}}" class="sg-randomize-button-seed">#{{seed}}</a>
                </div>
            </div>
        </header>
        <div class="sg-row">
            <div class="sg-menu">
                {{#with availableStylesheets}}
                    <form class="sg-control-themes">
                        <select class="sg-control-themes-options">
                            {{#each this}}
                                <option value="{{url}}"{{#if selected}} selected{{/if}}>{{name}}</option>
                            {{/each}}
                        </select>
                    </form>
                {{/with}}
                <div class="sg-menu-container">

                    <ul class="sg-group-list">
                        {{#each groups}}
                            <li class="sg-group">
                                <div class="sg-group-name">{{name}}</div>
                                <ul class="sg-example-list">
                                    {{#each children}}
                                        <li class="sg-example">
                                                <a class="sg-example-name"  href="{{url}}" title="{{name}}" target="sg-content-iframe">{{name}}</a>
                                            {{#if children}}
                                                <ul class="sg-example-list-children">
                                                    {{#each children}}
                                                        <li class="sg-example">
                                                            <a href="{{url}}" class="sg-example-file-name" title="{{name}}" target="sg-content-iframe">{{name}}</a>
                                                        </li>
                                                    {{/each}}
                                                </ul>
                                            {{/if}}
                                        </li>
                                    {{/each}}
                                </ul>
                            </li>
                        {{/each}}
                        {{#*inline 'list'}}
                            {{#each children}}
                                <li class="sg-example">
                                    <a class="sg-example-name" {{#if url}}href="{{url}}"{{/if}} title="Styleguide: {{#if dirName}}{{dirName}} - {{/if}}{{name}}" target="sg-content-iframe">{{name}}</a>
                                </li>
                            {{/each}}
                        {{/inline}}
                        {{#each examples}}
                            <li class="sg-group">
                                {{#if url}}
                                  <a class="sg-example-name" href="{{url}}" title="Styleguide: {{#if dirName}}{{dirName}} - {{/if}}{{name}}" target="sg-content-iframe">{{name}}</a>
                                {{else}}
                                  <div class="sg-group-name">{{name}}</div>
                                {{/if}}
                                {{#if children}}
                                <ul class="sg-example-list">
                                    {{> list}}
                                </ul>
                                {{/if}}
                            </li>
                        {{/each}}
                    </ul>
                </div>
            </div>

            <div class="sg-content">
                <iframe src="{{reqPath}}?content{{#if contentQueryString}}&amp;{{contentQueryString}}{{/if}}" name="sg-content-iframe" id="sg-iframe-content"></iframe>
            </div>
        </div>
    </body>
</html>
