{{#> layout}}
    {{#*inline 'head'}}
        <link rel="stylesheet" type="text/css" href="/node-modules/codemirror/lib/codemirror.css">

        <script type="text/javascript" src="/node-modules/sticky-kit/jquery.sticky-kit.min.js"></script>
        <script type="text/javascript" src="/node-modules/codemirror/lib/codemirror.js"></script>
        <script type="text/javascript" src="/node-modules/codemirror/mode/javascript/javascript.js"></script>

        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/iframe-resizer/3.5.1/iframeResizer.min.js"></script>

        <script type="text/javascript">
            (function () {

                $(window).on('load', function() {
                    $('.sg-file-body > iframe').iFrameResize({
                        log: true,
                        heightCalculationMethod: 'max',
                        autoResize: true

                    });
                });

                $(document).ready(function () {
                    $('.sg-menu').stick_in_parent();

                    $('.sg-file').each(function () {
                        var $file = $(this);
                        var $name = $file.find('.sg-file-name');
                        var $form = $file.find('.sg-file-form');

                        $name.append(' - ');
                        $name.append($('<a/>', {
                            href: '#',
                            text: 'Toggle Edit',
                            click: function () {
                                $file.toggleClass('sg-file--hide');
                                return false;
                            }
                        }));

                        $form.find('textarea').each(function () {
                            CodeMirror.fromTextArea(this, {
                                lineNumbers: true,
                                mode: 'json'
                            });
                        });

                        var $message = $('<span/>', {
                            'class': 'sg-file-form-message'
                        });

                        $form.find('button').after($message);

                        $form.on('submit', function () {
                            $message.text('Saving...');

                            $.post('/save', $form.serialize()).

                                done(function (data) {
                                    $message.text('Saved successfully!');

                                    $form.closest('.sg-file').find('iframe').each(function () {
                                        this.contentWindow.location.reload();
                                    });
                                }).

                                fail(function () {
                                    $message.text('Unable to save ' + $form.find('input[name="path"]').val());
                                });

                            return false;
                        });

                        $file.addClass('sg-file--hide');

                        $file.find('.sg-file-header').stick_in_parent({
                            offset_top: 48
                        });
                    });

                    $('.sg-file-body').each(function () {
                        var $body = $(this);
                        var $devices = $body.find('> .sg-device');

                        if ($devices.length > 0) {
                            var width = 50;

                            $devices.each(function () {
                                width += $(this).outerWidth(true);
                            });

                            $body.outerWidth(width);
                        }
                    });
                });
            })();
        </script>
    {{/inline}}

    {{#*inline 'content'}}
        <div class="sg-file-list">
            {{#each files}}
                <div class="sg-file">
                    <div class="sg-file-header">
                        <div class="sg-file-name"><a href="{{url}}">{{name}}</a></div>

                        <form class="sg-file-form">
                            <input type="hidden" name="path" value="{{exampleFilePath}}">
                            <textarea class="code" name="data">{{exampleFileData}}</textarea>
                            <button>Save</button>
                        </form>
                    </div>

                    {{#with description}}
                        <div class="sg-file-description">{{{this}}}</div>
                    {{/with}}

                    {{#with options}}
                        <div class="sg-file-option-list">
                            Options:
                            <ul>
                                {{#each this}}
                                    <li><span class="sg-design-item-type">{{@key}}</span> : {{this}}</li>
                                {{/each}}
                            </ul>
                        </div>
                    {{/with}}

                    <div class="sg-file-body">
                        {{#with ../displayDevices}}
                            {{#each this}}
                                <div class="sg-device">
                                    <div class="sg-device-name">
                                        <i class="{{device.icon}}"></i> {{device.name}}
                                    </div>

                                    <iframe
                                        style="height: {{device.height}}px; width: {{device.width}}px;"
                                        src="{{../../url}}?device=true&amp;seed={{../../../seed}}{{#if ../../../selectedStyleSheet}}&amp;ss={{../../../selectedStyleSheet.idx}}{{/if}}">
                                    </iframe>
                                </div>
                            {{/each}}

                        {{else}}
                            <iframe src="{{url}}?seed={{../seed}}{{#if ../selectedStyleSheet}}&amp;ss={{../selectedStyleSheet.idx}}{{/if}}"></iframe>
                        {{/with}}
                    </div>
                </div>
            {{/each}}
        </div>
    {{/inline}}
{{/layout}}
