<div class="sg-design-item-name">{{label}}</div>
<div class="sg-design-item-value"><pre>{{value}}</pre></div>

<div class="sg-border-example {{name}}"></div>

<!--
<div>
  <span>Left</span><span style="display:inline-block;width:{{value}};"></span><span>Right</span>
</div>

<div>
  <div>Top</div><div style="height:{{value}};"></div><div>Bottom</div>
</div>
-->
