<!DOCTYPE html>
<html>
    <head>
        <title>Styleguide</title>
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700">
        <link rel="stylesheet" type="text/css" href="/_styleguide/index.css">
        <script type="application/javascript" src="/_styleguide/index.js"></script>
    </head>
    <body>
        <header class="StyleguideHeader">
            <h1 class="StyleguideTitle">Styleguide</h1>
        </header>

        <nav class="StyleguideNavigation">
            <h2 class="StyleguideNavigation-title">Examples</h2>
            <div class="StyleguideNavigation-content">
                <ul class="StyleguideGroups">
                    {{#each groups}}
                        <li>
                            <h3 class="StyleguideGroups-name">{{name}}</h3>
                            <ul class="StyleguideGroups-examples">
                                {{#each examples}}
                                    <li><a href="{{url}}" title="{{name}}" target="StyleguideExample">{{name}}</a></li>
                                {{/each}}
                            </ul>
                        </li>
                    {{/each}}
                </ul>
            </div>
        </nav>

        <div class="StyleguideContent">
            <iframe class="StyleguideExample" name="StyleguideExample" src="about:blank"></iframe>
        </div>

        <script>
          console.log(`%c
 _____ _____ _____ _____ _____ _____ _____ _____ _____ _____
| __  | __  |     |   __|  |  |_   _|   __|  _  |     |_   _|
| __ -|    -|-   -|  |  |     | | | |__   |   __|  |  | | |
|_____|__|__|_____|_____|__|__| |_| |_____|__|  |_____| |_|
            _____ _       _             _   _
           |   __| |_ _ _| |___ ___ _ _|_|_| |___
           |__   |  _| | | | -_| . | | | | . | -_|
           |_____|_| |_  |_|___|_  |___|_|___|___|
                     |___|     |___|`, "color: dodgerblue; font-size: 9px; font-family: monospace")
          {{#if buildProperties}}
            var props = {{{buildProperties}}};
            Object.keys(props).sort().forEach(function(key) {
              console.group('Property [%s]:', key)
              console.log(props[key])
              console.groupEnd()
            })
          {{/if}}
        </script>
    </body>
</html>